@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<address>
    UST Assignment<br />
    Bank Account creation<br />
    Project :  TemUs
</address>

<address>
    <strong>Contact:</strong>   <a href="mailto:196740@ust-global.com">196740@ust-global.com</a>
</address>