@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WELCOME!</h1>
    <p class="lead">Greetings from ABC Bank</p>
    <p><a href="https://localhost:44378/users/CreateAccount" class="btn btn-primary btn-lg">Create User Account &raquo;</a></p>
</div>