@model BankAccount.Models.AccountDetail

<h2 style="color:red;">@ViewBag.Message</h2>

<div>
    <p><a href="https://localhost:44378/users/CreateAccount" class="btn btn-primary">Try Again?</a></p>
</div>

<div>
    <p><a href="https://localhost:44378/users/Index" class="btn-link">Click here to view all users &raquo;</a></p>
</div>
